<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SurveyMe - The Best Survey Taking App</title>
    <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/7.0.4/basscss.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1 class="center">SurveyMe</h1>
    <br><br>
    {{#if back_link}}
      <div class="back">
        <a class="btn white bg-gray" href="{{back_link}}">Back</a>
      </div>
    {{/if}}
    <br>
    <div class="right">
      {{#if user}}
        <div class="username">
          Logged in as: {{user.username}}
        </div
        <div class="right">
          <a href="/logout">Logout</a>
        </div>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </div>

    <div class="container">

      {{#if errorMessage}}
        <div class="error">
          {{errorMessage}}
        </div>
      {{/if}}

      {{{body}}}

      <br>
    </div>

  </body>
</html>
